figure{width:400; height:500; padding:10px; border:5px solid lightgray; box-shadow:5px 5px;}
#n_1 {width:300; height:400; padding:5px; border:5px solid lightgray; box-shadow:5px 5px;}
#n_2 {width:300; height:400; padding:5px; border:5px solid lightgray; box-shadow:5px 5px;}
