#menubar {background:olive;}
#menubar ul {margin:0; padding:0; width:567px;}
#menubar ul li {display:inline-block; list-style-type:none; padding:0px 15px;}
#menubar ul li a{color:white; text-decoration:none;}
#menubar ul li a:hover {color:black}
